#page, #pageheader,#pagenav, #pagenavul, #articlecenter, #asideright{
    margin:0;
    padding:0;
}
#page {
    width: 1200px;
    margin: auto;
}

#pagefooter{
    clear: both;
    margin-top: 2em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#pageheader{
    border-bottom:black 3px solid;
    border-top: black 3px solid;
}


#pageheader,#pagenav{
    margin-top:1em;
    margin-bottom:1em;

}


#pageheader, #pagefooter{
    text-align: center;
}

#pagenav li{
    list-style-type: square;
    display: inline;
    border:black solid thin;
    vertical-align: middle;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
#pagenav a{
    margin:0;
    padding:0.8em;
    height:2em;
    text-decoration:none;
    text-align: center;
    color:black;
}
#pagenav a:hover{
    color: black;
    background-color: #32a887;

}

#articlecenter{
    width: 70%;
    float: left;
}

#asideright{
    width: 30%;
    float: right;
}
@media screen and (max-width:1200px){
    body{
        width: 100%;


    }
}
@media screen and (max-width: 900px) {
    #articlecenter, #asideright{
        float: none;
        width: calc(100% - 10px);
    }
}

@media screen and (max-width: 600px){
    #asideright, .responsive,#pagefooter{
        display: none;

    }
}

.responsive img{
    max-width:100%;
    height:auto;
}
html{
    font-size: clamp(12pt, 4vw, 30pt);
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.4rem;
}
p{
    font-size: 1rem;
}